*{
  box-sizing: border-box;
 
}
html {
    font-size: calc(0.1rem + 1.5vw);
  }



body{
    background-color: cadetblue;
    font-family: 'Abril Fatface';
    font-size: 25px;
    
    
}

.container{

  
    text-align: center;
    
}
#lion-pic{
    margin-top: 50px;
    float: left;
    display: inline;
    margin-bottom: 20px;
    height: 350px;
}

img{
    width: 300px;
    
    
    
}

.about-me{
    margin-left: 25px;
    margin-top: 50px;
    margin-bottom:10px;
    display: inline-block;
    font-family: sans-serif , Arial, Helvetica, sans-serif;
    
}
.about{
    margin-top: 100px;
}

#name{
    color: black;

}
#profession{
    color: blue;
}

#p1{
    
    color: white;
    margin-left: 80px;
   
    
}
#p2{
    
    margin-left: 30px
}

.links{
    
    margin-right: 20px;
}

#clickme{
    
    margin-left: 80px;
    background-color: darkgreen;
    border-radius: 15px;
    color: white;
    width: 30%;
    padding: 10px 10px;
    cursor: pointer;
    margin-top:10px;
}
#clickme:hover{

    background-color: darkcyan;
}

.a2{
    
    margin-left: 10px;
}

a{
    
    margin-left: 10px;
    font-size: 20px;
}
.cards{
    
    display:flex;
    justify-content: center;
   

    
    
}
#div , #div2 , #div3 , #div4{
    background-color: blanchedalmond;
    width: 200px;
    height: 300px;
    box-shadow: 3px 5px 50px 6px grey;
    margin: 10px;
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 20px;
    font-family: sans-serif , Arial, Helvetica, sans-serif;
}
#card , #card2 , #card3 , #card4{
    width: 200px;
    
    
}

#p3{
    
}

p{
    margin-left: 10px;
}

li{
    list-style: none;
}

.navbar{
    
    
    display: flex;
    align-items: left ;
    position: sticky;
    

    

}

.navbar a {
    margin-right: 50px;
    text-decoration: none;
    font-size: 1.5rem;
    color: black;
    float:left;
    padding: 10px ;
    overflow: auto;
    font-size: 20px;
    

    


}

.navbar a:hover{
   color: white;
   
}

header{
    
    display: flex;
    align-items: left ;
    position: sticky;
    top: 0;
   
    
    
}

@media (max-width:500px){

   .about{
    padding-right: 50px;
   }



    .cards{

        display: flex; 
        align-items: flex-start;
        justify-content: flex-start;
        flex-wrap: wrap;
    }
}

@media (max-width:768px){

    .about{
     padding-right: 100px;
    }
 
 
 
     .cards{
 
         display: flex; 
         align-items: flex-start;
         justify-content: flex-start;
         flex-wrap: wrap;
     }
 }
