#div1{

    font-size: 30px;
    border: 2px solid red;
    border-radius: 20px;
}

#div2{
    font-weight: bold;
    font-style: italic;
}

#div3{
    background: black;
    color: white;
    font-family: monospace;
    box-shadow: 2px 2px 2px rgb(0, 0, 0 , 0.3)
}