div{
    background-color: blanchedalmond;
    width: 200px;
    height: 300px;
    box-shadow: 3px 5px 50px 6px grey;
}
#card{
    width: 200px;
    
}
#p2{
    font-size: 14px;
}
a{
    color: coral;
    font-size: 14px;
}