body{
    background-color: darkcyan;

}

.container{
    position: relative;
}

.container > div {
    background-color: white;
    position: absolute;
    
}

#div1{

    border: 5px solid blue;
    top: 50px;
    height: 100px;
    width: 200px;
}
#div2{

    border: 5px solid red;
    left: 100px;
    height: 300px;
    width: 200px;
    top: 80px;
}
#div3{

    border: 5px solid orange;
    top: 300px;
    height: 200px;
    width: 600px;
}
#div4{

    border: 5px solid yellow;
    top: 50px;
    height: 600px;
    width: 200px;
    left: 350px;
}